<div class="row">
    <br/>
    <p>
        <button id="implicitButton">OAuth Implicit Flow</button>
    </p>
</div>

@section scripts {
<script>
    $(function () {
        var authorizationUrl = 'https://root/authz/damienbod/oauth/authorize';
        var client_id = 'exportadmin';
        var redirect_uri = 'https://webapirestwithnest/home/callback';
        var response_type = "token";
        var scope = "export read";
        var state = Date.now() + "" + Math.random();

        $("#implicitButton").click(function () {
            var url =
                authorizationUrl + "?" +
                    "client_id=" + encodeURI(client_id) + "&" +
                    "redirect_uri=" + encodeURI(redirect_uri) + "&" +
                    "response_type=" + encodeURI(response_type) + "&" +
                    "scope=" + encodeURI(scope) + "&" +
                    "state=" + encodeURI(state);
            sessionStorage["state"] = state;
            window.location = url;
        });
    });

</script>

}